html {
    height: 100%;
}

body {
    background: white url('/assets/img/grid-bg.png') top left repeat;
    max-height: 100%;
}

hr.light {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}