html {
    height: 100%;
}

body {
    background: white url('/assets/img/grid-bg.png') top left repeat;
    max-height: 100%;
}

hr.light {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.popuptext {
    min-height: 50px;
    visibility: visible;
    width: 160px;
    background-color: #555;
    z-index: 1;
    bottom: -3rem;
    left: 15px;
    /*margin-left: 80px;*/
}

.popuptext::after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 40%;
    margin-right: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #555 transparent transparent ;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}